@import url('https://fonts.googleapis.com/css2?family=Itim&family=Ysabeau&display=swap');
/* :root {
    --heading-font: "Itim";
    --paragraph-font: "Ysabeau", Helvetica, sans-serif;
} */
#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: #fecf72;
    text-decoration: none;
    padding: 35px;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#backgound {
    height: 725px;
    background-color: #353535;
}

body {
    background-color: #353535;
    font-family: "Ysabeau", Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #353535;
    font-family: "Itim", "Ysabeau", "Helvetica", "sans-serif";
}

nav a:hover {
    background-color: #353535;
    color: #fecf72;
}

.book, .join {
    background-color: #353535;
    background-color: #fecf72;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: #353535;
    color: #fecf72;
}

.msg {
    background-color: #353535;
    line-height: 1.5em;
}

footer {
    background-color: #353535;
    color: #fecf72;
    font-size: 1.2em;
    padding: 25px 50px;
    margin-top: 200px;
}

.home-title {
    color: #fecf72;
    font-family: "Itim", "Ysabeau", Helvetica;
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color: #fecf72;
}

.msg h2 {
    color: #fecf72;
    font-family: "Itim", "Ysabeau", Helvetica;
}

.msg p {
    color: #fecf72;
    font-size: .8em;
    padding-bottom: 15px;
}

footer a {
    color: #fecf72;
    text-decoration: none;
}

footer a:hover {
    color: #fecf72;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img {
    width: 100%;
}

footer p a:hover {
    text-decoration: underline;
}
h2 {
    margin: 0;
}
#logo_link {
    padding-top: 5px;
}
footer .social img {
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid black;
}
/* main section img {
    box-sizing: border-box;
} */