nav {
    text-align: center;
    background-color: steelblue;
    padding: 10px
}
a {
    color: white;
    margin: 40px;
    font-size: 1.5em;
}
a:hover {
    background-color: white;
    color: steelblue;
}
h1 {
    text-align: center;
    color: steelblue;
}
img {
    width: 80%;
    display: block;
    margin: 0 auto;
    border: 4px solid steelblue;
}
p {
    padding: 10px;
    width: 80%
}
footer p {
    text-align: center;
    background-color: steelblue;
    color: white;
}
.main-para {
    width: 80%;
    margin: 50px auto;
    font-size: 1.5em;
    line-height: 1.5em;
}
#active {
    background-color: white;
    color: steelblue;
}