@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Galada&family=Inconsolata&family=Lato&family=Lexend&display=swap');
:root {
    --heading-font: "Lexend";
    --paragraph-font: "Galada", "Inconsolata", "Lato", "Archivo";

    --primary-color: #0956c6;
    --secondary-color: #ffa90b;
    --accent1-color: #d6ffeb;
    --accent2-color: #855d21;

    /* https://logo-maker.freelogodesign.org/en/logo/edit/f580104cb8dd49bc809025aabdcd85f6?template=37e578bcae4c463a8f4b668716a1bfa6 */
}

/* header */

.navigation-bar-grid {
    display: grid;
    grid-template-rows: 12.75em;
    grid-template-columns: 12.5em 1fr;
}

.navigation-bar {
    display: flex;
    background-color: #0956c6;
    align-items: center;
    justify-content: center;
    height: 50%;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 5px;
}

.nav-link {
    margin: auto;
    text-decoration: none;
    font-size: 2em;   
    color:#d6ffeb;
    font-family: "Lexend", "Galada";
}

.nav-link:hover {
    text-decoration: underline;
    color:#ffa90b;
}

/* Main */

.row-grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

.row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 5%;
    gap: 5em;    
}

.row-image {
    margin-left: 9%;
}

.home-header {
    font-family: "Lexend";
    color:#ffa90b;
    font-size: 2em;
}

.row-text {
    font-family: "Inconsolata";
    font-size: 1.5em;
    color:#0956c6;
}

#home-page-ending {
    margin-left: 9%;
    margin-right: 23%;
}

/* Footer */

.footer-grid {
    display: grid;
    grid-template-rows: 12.75em;
    grid-template-columns: 12.5em 1fr 1fr;
}


.footer-bar {
    display: flex;
    justify-content: space-between;
    background-color:#0956c6;
    grid-row: 1/2;
    grid-column: 2/4;
    width: auto;
    height: 50%;
    border-radius: 5px;
    margin-right: 3%;
    margin-left: 3%;
    margin-top: 3%;    
}

footer h3 {
    margin: auto;
}

.social-media-link {
    margin: auto;
}




